

<div class="panel panel-primary">
	<div class="panel-heading h3">
		<div class="row">
			<div class="col-xs-2">
				<span class="label label-info">#&nbsp;{{p.rank}}</span>
			</div>
			<div class="col-xs-8"></div>
			<div class="col-xs-2" style="text-align: right;">
				<a href="#/p/{{p.email}}"><span data-ng-hide="hideEdit" class="glyphicon glyphicon-edit" style="color: white; font-size: 0.8em;"></span></a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div id="img-carousel-{{p.name}}" class="owl-carousel">
			<div data-ng-repeat="imgurl in p.url track by $index" owl-init>
				<img data-ng-src="{{p.url[$index]}}" alt="picture of you" class="center-block img-thumbnail img-responsive" />
			</div>
		</div>
		
		<div class="caption">
			<h3><a href="#/p/{{p.email}}">{{p.name}}</a></h3>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="badge">{{p.mtd}}</span>
					Messages (MTD)
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="badge">{{p.perDay | number:2}}</span>
					Messages / Day
				</li>
				<li class="list-group-item">
					<span class="badge">{{p.latestDate | date:'EEE MMM dd'}}</span>
					Last Message Sent
				</li>
			</ul>
		</div>
	</div>
</div>

